	<% title 'Blog' %>
	<% meta_tag :description, 'Strength, Conditioning, Olympic Weightlifting, Fitness and Nutrition blog from Prime Performance coaches' %>

	<h1 class="text-center">
		Blog Posts
		<p><%= link_to "New Blog", new_blog_path, class: 'btn btn-primary top-action-button' if current_admin %></p>
	</h1>
<hr>
	<div class="container">
		<% if @blogs.present? %>

		<!-- TAG CLOUD -->
			<div id="tag_cloud">
				<p>Filter by tag: </p>
			  <% Tag.all.each do |tag| %>
			  	<% cache tag do %>
			   		<%= link_to tag.name, tag_path(tag.name), class: 'tag-cloud-button btn btn-light' if tag.blogs.present? %>
			  	<% end %>
			  <% end %>
			</div>
			<hr>
			<!-- RENDER BLOGS -->
			<div id="blogs">
			  	<%= render @blogs %>
			</div>

		<% else %>

		<p class="text-center">We're currently thinking up some awesome stuff for you.</p>

		<% end %>
		<div class="text-center">
			<%= paginate @blogs, window: 2 %>
		</div>
</div>