<% title 'Contact' %>
<% meta_tag :description, 'Contact us to join' %>

		<h1 class="contact-title col-10">
			Send us a message!
		</h1>
<hr>
<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="contact-info col-4 pull-right">
				<strong>Address: </strong>
					<p>2001 W Detroit St, Suite A</p>
					<p>Broken Arrow, OK 74012</p>

				<strong>Email: </strong><p>info@primeperformancesc.com</p><br />
				<strong><p>Look us up on social media!</p></strong>
				<ul class="social-icons">
					<li class="nav-item"><%= link_to fa_icon('instagram', class: 'fa-4x'), 'https://www.instagram.com/primeperformancesc/', title: 'Follow on Us Instagram', target: '_blank' %></li>
					<li class="nav-item"><%= link_to fa_icon('facebook-square', class: 'fa-4x'), 'https://www.facebook.com/primeperformancesc/', title: 'Like on Us Facebook', target: '_blank' %></li>
				</ul>
			</div>


<div class="col-6">
	<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
	<script>
	  hbspt.forms.create({
		portalId: "5631484",
		formId: "a66c0f9c-c079-4ea4-91ef-1f7d221b219f"
	});
	</script>
	<!-- INSERT THIS CODE INTO YOUR WEBSITE TO HAVE LEADS SUBMIT THEIR INFORMATION TO WODIFY REMOTELY --> 
<!-- <script type='text/javascript'> if(!document.getElementById('recaptcha')){var script=document.createElement('script');script.id='recaptcha';script.src='https://www.google.com/recaptcha/api.js';document.head.appendChild(script);}
var validationUrl='//app.wodify.com/API/WebToLeadFormPostEntry_v1.aspx?ResponseField=';var reCaptchaValidated=false;function callbackFunc(data){document.getElementById('recaptcha_response_field').value=data;validationUrl+=data;if(data){reCaptchaValidated=true;}}function validateWodifyLeadForm(){var reEmail = /^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;var returnValue = true;var fieldname=document.forms['wodifyLeadForm']['name'].value; if(fieldname==null||fieldname=='') {document.getElementById('errorname').style.display='inline';returnValue=false;} else {document.getElementById('errorname').style.display='none';}var fieldemail=document.forms['wodifyLeadForm']['email'].value;  if(fieldemail==null||fieldemail==''||!reEmail.test(fieldemail)) {document.getElementById('erroremail').style.display='inline';returnValue=false;} else {document.getElementById('erroremail').style.display='none';}var fieldleadsource=document.forms['wodifyLeadForm']['leadsource'].options[document.forms['wodifyLeadForm']['leadsource'].selectedIndex].value;if(fieldleadsource==null||fieldleadsource=='') {document.getElementById('errorleadsource').style.display='inline';returnValue=false;} else {document.getElementById('errorleadsource').style.display='none';}if(!reCaptchaValidated){document.getElementById('errorCAPTCHA').style.display='inline';return false;} return returnValue;
}; function onChangePhoneValidation(phoneId){ var fieldphone=phoneId.value.replace(/[^0-9]/g, ""); var fieldPhoneLenght=fieldphone.length; if(fieldPhoneLenght==10||(0==0&&fieldPhoneLenght==0)) {document.getElementById('warningphone').style.display='none';} else {document.getElementById('warningphone').style.display='inline';} }  </script>  -->
<!-- <form action="https://app.wodify.com/API/WebToLeadFormPostEntry_v1.aspx?" accept-charset="UTF-8" method="POST" id="wodifyLeadForm" name="wodifyLeadForm" onsubmit="return validateWodifyLeadForm();">
<br/><label for="name">Name*</label>
<br/><input type="text" name="name" maxlength="50" class="form-control" required data-required></input><span id="errorname" name="errorname" style="display: none; color: #cc2626;"> Required field!</span><br/><br/><label for="email">Email*</label><br/><input type="email" name="email" maxlength="250" class="form-control" required data-required></input><span id="erroremail" name="erroremail" style="display: none; color: #cc2626;"> Required field!</span><br/><br/><label for="phone">Phone*</label><br/><input type="number" name="phone" maxlength="20" class="form-control" onchange="onChangePhoneValidation(this)" 
 onkeypress='return event.charCode >= 48 && event.charCode <= 57'
 placeholder="E.g.:1234567890"  required data-required></input><span id="errorphone" name="errorphone" style="display: none; color: #cc2626;"> Required field!</span><span id="warningphone" name="warningphone" style="display: none; color: #EED202;"> Enter a 10 digit number to ensure you receive SMSs.</span><br/><br/><label for="city">City</label><br/><input type="text" class="form-control" name="city" maxlength="50"></input><br/><br/><label for="state">State</label><br /><select class="form-control" name="state"><option value="">-</option><option value="24">Alaska</option><option value="22">Alabama</option><option value="20">Arkansas</option><option value="11">Arizona</option><option value="21">California</option><option value="32">Colorado</option><option value="12">Connecticut</option><option value="44">District of Columbia</option><option value="9">Delaware</option><option value="39">Florida</option><option value="34">Georgia</option><option value="19">Hawaii</option><option value="49">Iowa</option><option value="40">Idaho</option><option value="23">Illinois</option><option value="5">Indiana</option><option value="25">Kansas</option><option value="30">Kentucky</option><option value="48">Louisiana</option><option value="6">Massachusetts</option><option value="1">Maryland</option><option value="50">Maine</option><option value="33">Michigan</option><option value="27">Minnesota</option><option value="2">Missouri</option><option value="36">Mississippi</option><option value="18">Montana</option><option value="8">North Carolina</option><option value="29">North Dakota</option><option value="35">Nebraska</option><option value="31">New Hampshire</option><option value="38">New Jersey</option><option value="43">New Mexico</option><option value="10">Nevada</option><option value="3">New York</option><option value="47">Ohio</option><option value="42">Oklahoma</option><option value="28">Oregon</option><option value="51">Pennsylvania</option><option value="13">Rhode Island</option><option value="45">South Carolina</option><option value="17">South Dakota</option><option value="37">Tennessee</option><option value="15">Texas</option><option value="41">Utah</option><option value="16">Virginia</option><option value="4">Vermont</option><option value="7">Washington</option><option value="26">Wisconsin</option><option value="46">West Virginia</option><option value="14">Wyoming</option></select><br/><br/><label for="dateofbirth">Date Of Birth</label><br/><input class="form-control" type="date" name="dateofbirth"></input><br/><br/><label for="subscribe">Subscribe to SMS?*<input class="form-control" type="checkbox" name="subscribe" value="True"><br/>*Msg&data rates may apply. | <a href='http://www.wodify.com/privacy-policy.html' target='_blank'>Privacy Policy</a> | <a href='http://www.wodify.com/terms.html' target='_blank'>T&Cs</a></label><br/><br/><label for="leadsource">How Did You Hear About Us?*</label><br /><select class="form-control" name="leadsource" required><option value="">-</option><option value="Friend/Family">Friend/Family</option><option value="Facebook">Facebook</option><option value="Google/Search Engine">Google/Search Engine</option><option value="SMS">SMS</option><option value="Online Sales">Online Sales</option><option value="Other">Other</option></select><span id="errorleadsource" name="errorleadsource" style="display: none; color: #cc2626;"> Required field!</span><br/><br/><label for="referredby">Referred By</label><br/><input class="form-control" type="text" name="referredby" maxlength="1000"></input><br/><br/><label for="comments">Comments</label><br/><textarea class="form-control" name="comments" maxlength="2000" rows="4" cols="50"></textarea><br/><br/><div class='g-recaptcha' data-sitekey='6LeYA5UUAAAAAKT33drx-s2k__sO5BD-JW1kG1Ux' data-callback='callbackFunc'></div>
<input type='hidden' id='recaptcha_response_field' name='recaptcha_response_field' value='manual_challenge' style='margin-top:20px;'><span id="errorCAPTCHA" name="errorCAPTCHA" style="display: none; color: #cc2626;"> Invalid reCAPTCHA!</span><input class="form-control" type="hidden" id="usecaptcha" name="usecaptcha" value="true"></input><br/><br/><input type="hidden" name="redirecturl" value="https://www.primeperformancesc.com/waiver"><br/>
<input type="hidden" name="apikey" value="uahbal0k5c">
<br/><input type="submit" value="Submit" class="btn btn-primary">
</form> -->
</div>
		</div>
	</div>
</div>

