
<div class="home-section-1">
	<!-- <nav class="navbar navbar-expand-lg"> -->
		<ul class="social-icons">
			<li class="nav-item"><%= link_to fa_icon('instagram', class: 'fa-2x'), 'https://www.instagram.com/primeperformancesc/', title: 'Follow on Us Instagram', target: '_blank' %></li>
			<li class="nav-item"><%= link_to fa_icon('facebook-square', class: 'fa-2x'), 'https://www.facebook.com/primeperformancesc/', title: 'Like on Us Facebook', target: '_blank' %></li>
		</ul>
</div>

<div class="wrapper">
	<ul class="nav justify-content-center">
				<li class="nav-item">
					<%= link_to 'I want to be awesome', contact_path, class: 'btn btn-primary' %>
				</li>
			</ul>
	<div class="home-section-2">
				<p class="lead mission-statement">
					<em>
						<strong>Prime Performance</strong> promotes your ability to elevate your well-being in every aspect. We strive to create a motivational and supportive environment through effective training methods and a strong community.
					</em>
				</p>
	</div>
</div>