
<div class="home-section-1">
		<table class="table table-borderless">
      <tr>
      	<td class="text-center">
          <%= link_to 'Get 2 weeks for $1!', get_started_path, class: 'free-week btn btn-primary btn-lg' %>
        </td>
        <td class="social-icons">
          <a href="https://www.instagram.com/primeperformancesc/" class="nav-item", alt="Instagram", title="Follow us on Instagram" target="_blank"><i class="fab fa-instagram fa-3x nav-item"></i></a>
          <a href="https://www.facebook.com/primeperformancesc/" class="nav-item", alt="Facebook", title="Like us on Facebook" target="_blank"><i class="fab fa-facebook-square fa-3x nav-item"></i></a>
        </td>
      </tr>
    </table>
		<%= image_tag 'website_cover.jpg', class: 'img-fluid', alt: 'Prime Performance Strength & Conditioning' %>
</div>

<div class="wrapper">
	<div class="home-section-2">
				<p class="lead mission-statement">
					<em>
						<strong>Prime Performance</strong> promotes your ability to elevate your well-being in every aspect. We strive to create a motivational and supportive environment through effective training methods and a strong community.
					</em>
				</p>
	</div>
</div>