
<div class="home-section-1">
		<table class="table table-borderless table-dark">
			<tr>
				<td class=social-icons>
					<%= link_to fa_icon('instagram', class: 'fa-2x'), 'https://www.instagram.com/primeperformancesc/', class: 'nav-item', alt: 'instagram', title: 'Follow on Us Instagram', target: '_blank' %>
					<%= link_to fa_icon('facebook-square', class: 'fa-2x'), 'https://www.facebook.com/primeperformancesc/', class: 'nav-item', alt: 'facebook', title: 'Like on Us Facebook', target: '_blank' %>
				</td>
				<td class="text-center">
					<%= link_to 'Get a free week!', contact_path, class: 'free-week btn btn-primary btn-lg' %>
				</td>
			</tr>
		</table>
		<%= image_tag 'website_cover.jpg', class: 'img-fluid', alt: 'Prime Performance Strength & Conditioning' %>
</div>

<div class="wrapper">
	<div class="home-section-2">
				<p class="lead mission-statement">
					<em>
						<strong>Prime Performance</strong> promotes your ability to elevate your well-being in every aspect. We strive to create a motivational and supportive environment through effective training methods and a strong community.
					</em>
				</p>
	</div>
</div>