/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome";

p {
	color: #777777;
}

hr {
	border: 0;
	clear: both;
	display: block;
	width: 96%;               
	background-color: #eeeeee;
	height: 1px;
}

.btn {
	border-radius: 0.15rem;
}

.btn-primary {
	background-color: #1E90FF;
	border: none;
	color: white;

	&:hover {
		background-color: darken(#1E90FF, 10%);
	}
	:visited {
		color: white;
	}
}

.alert-notice, .alert-success {
  padding: 15px;
  margin-bottom: 0 auto;
  border: 1px solid transparent;
  border-radius: 3px;
  position: fixed;
  z-index: 99999;
  left: 50%;
  top: 10%;
  min-width: 180px;
  text-align: center;
  transform: translate(-50%, -50%);
  color: #fff;
  background-color: #2996cc;
}

.alert-danger {
  padding: 15px;
  border-radius: 3px;
  margin: 0 auto;
  position: absolute;
  z-index: 99999;
  right: 20%;
  left: 20%;
  width: auto;
  text-align: center;
}

a.btn.btn-primary {
	color: white;

	a:visited {
		color: white;
	}
}

div {
  .alert.alert-notice {
    color: #4d4f50;
    padding: 10px;
    background-color: #1E90FF;
    border-radius: 0px;
    margin: 0 auto;
    position: fixed;
    z-index: 9999;
    right: 0;
    left: 0;
    width: auto;
    bottom: 0%;
    overflow-y: hidden;
  }

  .alert.alert-alert {
    color: white;
    padding: 10px;
    background-color: #cc0000;
    border-radius: 0px;
    margin: 0 auto;
    position: fixed;
    z-index: 9999;
    right: 0;
    left: 0;
    width: auto;
    bottom: 0%;
  }

  .alert.alert-error {
    color: #990000;
    border: 2px solid #990000;
    padding: 10px;
    background-color: #555;
    border-radius: 0px; 
    margin: 0 auto;
  }
}