h1.blog-show-title {
	/*margin: 1rem;*/
}

.blog-show-content.col-md-10 {
	margin: 0 auto;
}

#tag_cloud {
	text-align: center;
	background-color: #404040;
  	padding: 20px;
  	border-radius: 5px;

	a.tag-cloud-button.btn.btn-light {
		border-radius: 15px;
    border: 0.5px solid #eeeeee;
	}
}

.top-action-button {
	position: absolute;
  	top: 5%;
  	right: 5%;
}

.blog-list-title {
	color: #404040;

	&:hover {
		color: #1E90FF;
		text-decoration: none;
	}
}

.centered-div {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.blog-admin-buttons {
	display: inline-flex;
}