div.form-inline.macros-form {
	border-bottom: 1px solid #7f7f7f;
    justify-content: center;

    label {
    	margin: 10px;
    }

    #nutrition_client_protein, #nutrition_client_fat, #nutrition_client_carbs {
    	width: 10%;
    }
}