html {
	max-width: 100vw;
	max-height: 100vh;
}

body {
	h1 {
		color: #4d4f50;
	}
}



.home-section-1 {
	min-height: 100vh;
	min-width: 100vw;
	background: url('sample_cover.jpg') no-repeat;
	background-size: cover;
}

.social-icons {
	display: inline-flex;
		.nav_item {
			z-index: 99999;
			position: relative;
			display: inline-flex;
			margin-top: 15px;
			margin-right: 5px;

			.fa-facebook-square {
				color: #777777;

				&:hover {
					color: #4267b2;
				}
			}
			.fa-instagram {
				color: #777777;

				&:hover {    
				    background: -webkit-linear-gradient(#8F55D4, #F91906, #F9E706);
    				-webkit-background-clip: text;
    				-webkit-text-fill-color: transparent;
				}
			}
		}
	}

.nav.justify-content-center {
	display: flex;
   flex-wrap: wrap;
 	padding-left: 0;
 	margin-bottom: 0;
 	list-style: none;
 	position: relative;
 	margin-top: -60px;

 	.btn.btn-primary {
 		margin-right: 8px;
 	}
}

div.home-section-2 {
	min-height: 100vh;
	min-width: 100vw;
	z-index: 999999;
   position: relative;

   h1 {
   	margin: 5%;
   }

   p.lead.mission-statement {
   	text-align: center;
   	font-size: 1.65rem;
   	margin: 10% 10% 0 10%;
   }
}

div.home-section-3 {
	min-height: 100vh;
	min-width: 100vw;
	z-index: 999999;
   position: relative;
   background-color: #4d4f50;

   h1 {
   	color: #ffffff;
   	margin: 5%;
   }

   div.card.col-3 {
   	margin: 10px 15px;
   }
}

div.home-section-4 {
	min-height: 100vh;
	min-width: 100vw;
	z-index: 999999;
   position: relative;

   h1 {
   	margin: 5%;
   }

   div.contact-section {
   	min-height: 100%;
   }
}

.contact-button {
	right: 20px;
	top: 20px;
	float: right;
	position: relative;
	z-index: 99999;
}

h1.contact-title {
	margin: 20px 0 0 10px;
}

div.card {
	margin: 10px 0 0 10px;
	display: inline-flex;

	a.btn.btn-primary {
		margin-right: 15px;
	}

	.card-link {
		color: #1E90FF;

		&:hover {
			color: darken(#1E90FF, 10%);
			background-color: transparent;
		}
	}
}

.primary-blue {
	color: #1E90FF;
}