
  <!-- Footer -->
  <footer class="page-footer font-small cyan darken-3">

    <!-- Grid column -->
    <div class="col-md-12 py-5">
      <div class="mb-5 flex-center">

        <!-- Facebook -->
        <a class="fb-ic">
          <%= link_to fa_icon('facebook', class: 'fa-3x'), 'https://www.facebook.com/primeperformancesc', title: 'Like us on Facebook' %>
        </a>
        <!--Instagram-->
        <a class="ins-ic">
          <%= link_to fa_icon('instagram', class: 'fa-3x'), 'https://www.instagram.com/primeperformancesc', title: 'Follow us on Instagram' %>
        </a>
      </div>
    </div>
    <!-- Grid column -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2018 Copyright Prime Performance S&C, LLC
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->
    