
  <!-- Footer -->
  <footer class="page-footer font-small cyan darken-3">

    <!-- Grid column -->
    <div class="col-md-12 py-5">
      <div class="waiver-button">
        <%= link_to 'Get Started', get_started_path, title: 'Get Started', class: 'btn btn-secondary' %>
      </div>
      <div class="mb-5 flex-center">

        <!-- Facebook -->
          <a href="https://www.instagram.com/primeperformancesc/", alt="Instagram", title="Follow us on Instagram" target="_blank"><i class="fab fa-instagram fa-3x nav-item"></i></a>
          <a href="https://www.facebook.com/primeperformancesc/", alt="Facebook", title="Like us on Facebook" target="_blank"><i class="fab fa-facebook-square fa-3x nav-item"></i></a>
      </div>
    </div>
    <!-- Grid column -->
    <div class="img-links">
      <div class="col-md-6">
            <%= link_to image_tag('owc_logo.png', class: 'owc_logo'), 'https://www.oklahomaweightliftingclub.com', target: '_blank', title: 'Oklahoma Weightlifting Club', alt: 'Oklahoma Weightlifting Club' %>
      </div>
      <div class="col-md-6"><%= link_to image_tag('f5_cover_photo.jpg', class: 'f5_logo'), 'https://www.f5chiropractic.com', target: '_blank', title: 'F5 Chiropractic', alt: 'F5 Chiropractic' %>
            </div>
    </div>
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">
        <p>2001 W Detroit St Suite A, Broken Arrow, OK 74012</p>
        <p>© <%= Date.current.year %> Copyright Prime Performance S&C, LLC</p>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->
    